# AWS credentials
AWS_ACCESS_KEY_ID=YOUR_AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=YOUR_AWS_SECRET_ACCESS_KEY
AWS_REGION=YOUR_AWS_REGION
AWS_BUCKET_NAME=YOUR_AWS_BUCKET_NAME
AWS_S3_PREFIX=YOUR_AWS_S3_PREFIX
AWS_IIIF_BASE_URL=YOUR_AWS_IIIF_BASE_URL

# Output directory
OUTPUT_DIR=output_files

# Input directory
INPUT_DIR=input_files
